html body {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100%;
  letter-spacing: 0.03rem;
  line-height: 1.6;
}
.banner1 {
  width: 90%;
  margin: 0 auto;
  border: solid black 2px;
  background-image: url("/imagenesquienes/metalurgica1.jpg");
  background-position: center;
}
.banner {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  color: white;
}
.titulo {
  text-align: center;
  color: #6a6a6a;
  font-size: 50px;
  font-weight: 100;
}
.section1 {
  border: solid black 3px;
  width: 99%;
  height: 500px;
  background-image: url("/imagenesquienes/metalurgica2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: scroll;
}
.articulo-quienes {
  display: flex;
  flex-wrap: wrap;
}
.parrafo-quienes {
  color: wheat;
  font-weight: 700;
  display: block;
}
.personal {
  text-align: center;
  color: #6a6a6a;
  font-size: 4rem;
  margin: 50px;
  padding: 15px;
}

.contenedorfooter {
  margin-top: 450px;
  width: 100%;
  height: 230px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: solid 2px black;
  background-color: black;
}
.footer1 {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
  margin-top: 10px;
}
.footer2 {
  width: 400px;
  height: 200px;
}
.lista11 {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.img111 {
  width: 50px;
  height: 50px;
  transition: all 0.5s;
  border-radius: 50px;
  margin: 5px;
}
.img111:hover {
  box-shadow: 0.1rem 0.5rem 0.3rem #979797;
  transform: translateY(7px);
}
.footer3 .lista22 {
  list-style: none;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  color: antiquewhite;
}
.footer3 .lista22 .lista222 {
  font-weight: 600;
  margin: 20px 15px;
}
.footer3 .lista22 .lista222 a {
  text-decoration: none;
  color: #979797;
}
